body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  margin: 0 !important
}

#searchFilterContainer {
  max-width: 300px;
}

#filterContainerTitle {
  font-size: 20px;
  padding: 5px;
  margin: 0;
}

.priceInput, .sqftInput {
  width: 45%;
  margin-bottom: 5px;
}

.bedbathInput {
  margin-bottom: 5px;
}

.zipcodeSlideContainer {
  margin: 5px 1px;
}
