:root {
  --symptoPrimaryBlue: #213c7f;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
hr {
  margin: 0 !important;
  color: #eeeeef;
  height: 3px !important;
}
.untargetable {
  pointer-events: none;
}
#mediaQueriedSearch {
  visibility: hidden;
}

/* <LogoBar /> component */
#logoBar {
  margin: 5px;
  margin-left: 15px;
  height: 50px;
}
#combinedLogo {
  height: 34px;
}
#streetText {
  font-weight: bold;
  font-size: 30px;
  color: var(--symptoPrimaryBlue)
}

#mainContent {
  margin: 10px;
  position: relative;
}

/* Search Address/Zipcodes */
#searchBoxContainer {
  width: 500px;
  padding: 10px;
}
#searchBox {
  position: fixed;
  width: 400px;
  padding: 10px;
}
#searchBoxContainer[search="on"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
#searchBox[search="on"]  {
  position: relative;
  visibility: visible;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 10%;
  z-index: 3;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12); 
}
#mainSearchText {
  display: inline-block;
  width: 100%;
}
#searchAddressZipcodeContainer, #addressSearchContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#selectAddressorZipcode {
  margin-left: 5px;
  width: 50%;
}
#googleAddress, #address, .addressOrZipcode {
  grid-row: 1/2;
  grid-column: 1/2;
}
.form-check-input:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}
.form-switch {
  position: relative;
  top: -2px;
  margin-left: 5px;
}
.zipcodeSlideContainer {
  margin: 5px 1px;
}
#zipcodeRadius {
  margin-left: 10px;
  margin-top: 5px;
}


/* Search Filters */
.clearfilters {
  position: absolute;
  right: 0;
}
#priceFilter, #sqftFilter, #bedsBathFilter {
  margin-bottom: 0;
}
#collapsePriceFilter, #collapseSqftFilter {
  padding-left: 10px;
  padding-right: 10px;
}
.btn-light {
  width: 100% !important;
  text-align: left;
}
.toggleText {
  margin-left: 10px;
}
#filterContainerTitle {
  position: relative;
  font-size: 20px;
  padding: 5px 0;
  margin: 0;
  margin-bottom: 5px;
}
.priceInput, .sqftInput {
  width: 40%;
  margin-bottom: 5px;
  display: inline-block !important;
}
.bedbathInput {
  margin-bottom: 5px;
}


/* Results formatting */
#searchResultsContainer {
  width: 1200px;
  padding: 10px;
}
#searchResultsTitle {
  display: flex;
  justify-content: center;
}
.priceSort {
  width: 200px;
  display: inline-block;
  margin-left: 10px;
}
.singleResult {
  margin: 10px;
  border-color: #eeeeef;
  width: 350px;
  height: 360px;
  border-radius: 10px;
}
.singleResult:hover {
  cursor: pointer;
  border-color: #cfcfcf;
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.1),
    0px 9px 12px 1px rgba(0, 0, 0, 0.07),
    0px 3px 16px 2px rgba(0, 0, 0, 0.06);
  transform: scale(1.01);
  transition-duration: .1s;
}
.resultImageContainer {
  height: 212px;
  border-bottom: 1px rgba(0, 0, 0, 0.185) solid;
  display: flex;
}
.houseIcon {
  margin: auto;
  color: rgb(117, 114, 128);
  opacity: .5;
}
.bedsBathSqftText {
  margin-right: 15px;
}
.resultContent {
  padding: 10px;
}
.resultAddress {
  margin-top: 5px;
  font-size: 14px;
}
#resultPageNavIcons {
  display: flex;
  justify-content: center;
}

@media (max-width: 1250px) {
  #searchResultsContainer {
    width: 100%;
    margin: 20px;
  }
  .singleResult {
    margin: 10px;
    border-color: #eeeeef;
    width: 300px;
    height: 330px;
    border-radius: 10px;
  }

  #searchBoxContainer {
    position: absolute;

  }
  #searchBoxContainer[search="on"] {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  #backgroundFade[search="on"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.87);
  }

  #searchBox {
    visibility: hidden;
  }

  #searchBox[search="on"]  {
    position: relative;
    visibility: visible;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 10%;
    z-index: 3;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12); 
  }
  
   #mediaQueriedSearch{
    visibility: visible;
    position: absolute;
    right: 20px;
   }
}

@media (max-width: 840px) {
  #searchResultsContainer {
    width: 100%;
    margin: 5px;
  }
/* 
  #searchBoxContainer {
    display: none;
  } */
}